@model dynamic

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var MenuItems = Model.MenuItem;
    var Category = Model.FoodCategory;
    //constants for the category ids
    var drink = 3;
    var soups = 5;
    var steaks = 2;
    var burgers = 1;
    var deserts = 4;
    var togNo = 0;

}
<div>
    <div class="photo_gallary">
    </div>
    <div class="sticky-top">
        <button class="tablink" onclick="openPage('Drinks', this)" id="defaultOpen">Drinks</button>
        <button class="tablink" onclick="openPage('Soups', this)">Soups, Salads & Sides</button>
        <button class="tablink" onclick="openPage('Steaks', this)">Steaks & Grills</button>
        <button class="tablink" onclick="openPage('Burgers', this)">Burgers</button>
        <button class="tablink" onclick="openPage('Deserts', this)">Deserts</button>
    </div>

    @if (Model != null)
    {
<div id="Drinks" class="tabcontent">

    @foreach (FoodCategory cat in Category)
    {
        @if (@cat.CategoryId == drink)
        {
            <div class="description">
                <p>@cat.CategoryDescr</p>
                <br />
            </div>

            break;
        }
    }

    @foreach (var obj in MenuItems)
    {
        @if (@obj.CategoryId == drink)
        {
           
        
            <div class="card mb-30" style="display: flex; background-color: beige; justify-content: center; align-content: center; text-align: center;">

                <div style=" display:flex;justify-content: center; align-content: center; text-align: center;">
                    <img src="/MenuItem/@obj.ItemImage" class="card-img-top" style="width:40%;" align="middle" alt="...">
                </div>

                <div class="card-body">
                    <h5 style="font-size:35px;" class="card-title">@obj.ItemName</h5>
                    <p style="font-size:16px;" class="card-text">@obj.ItemDescr</p>
                    <p style="font-size:25px; font-style:italic;" class="card-text">R @obj.ItemPrice</p>
                    <br />
                    <div class="d-flex justify-content-between" style="justify-content:center; margin: auto 25% auto 25%">
                        <div>
                            <button style="border-radius: 50%; background-color: #555 ; color: bisque; border: none; padding: 15px 15px; text-align: center; text-decoration: none; display: inline-block; font-size: 28px;" id="order_toggle"; onclick="decrement(@togNo)">-</button>
                            <input class="tableNum" style="border-color:#555; border-radius:15px; font-size:20px; background-color:beige; height:50px; width:50px" id=@togNo type=number value="0" min=0 max=20>
                            <button style="border-radius: 50%; background-color: #555 ; color: bisque; border:none; padding: 15px 15px; text-align: center; text-decoration: none; display: inline-block; font-size: 28px;" id="order_toggle" onclick="increment(@togNo)">+</button>
                        </div>

                        <!--Soumya use this button to get the number of items-->
                        <button style="border-radius: 10px; background-color: #555 ; color: bisque; border: none; padding: 15px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 18px;" class="button" id="add_to_order" onclick="">Add to order</button>
                    </div>
                </div>
            </div>

            <br /><br />
            togNo = togNo + 1;
        }
    }
</div>

        <div id="Soups" class="tabcontent">
                @foreach (FoodCategory cat in Category)
                {
                    @if (@cat.CategoryId == soups)
                    {
                        <div class="description">
                            <p>@cat.CategoryDescr</p>
                            <br />
                        </div>
                      
                        break;
                    }
                }

                @foreach (var obj in MenuItems)
                {
                    @if (@obj.CategoryId == soups)
                    {
                        <div class="card mb-30" style="display: flex; background-color: beige; justify-content: center; align-content: center; text-align: center;">

                            <div style="justify-content: center; align-content: center; text-align: center;">
                                <img src="/MenuItem/@obj.ItemImage" class="card-img-top" style="width:40%;" align="middle" alt="...">
                            </div>

                            <div class="card-body">
                                <h5 style="font-size:35px;" class="card-title">@obj.ItemName</h5>
                                <p style="font-size:16px;" class="card-text">@obj.ItemDescr</p>
                                <p style="font-size:25px; font-style:italic;" class="card-text">R @obj.ItemPrice</p>
                                <br />
                                <div class="d-flex justify-content-between" style="justify-content:center; margin: auto 25% auto 25%">
                                    <div>
                                        <button style="border-radius: 50%; background-color: #555 ; color: bisque; border: none; padding: 15px 15px; text-align: center; text-decoration: none; display: inline-block; font-size: 28px;" id="order_toggle" ; onclick="decrement(@togNo)">-</button>
                                        <input class="tableNum" style="border-color:#555; border-radius:15px; font-size:20px; background-color:beige; height:50px; width:50px" id=@togNo type=number value="0" min=0 max=20>
                                        <button style="border-radius: 50%; background-color: #555 ; color: bisque; border:none; padding: 15px 15px; text-align: center; text-decoration: none; display: inline-block; font-size: 28px;" id="order_toggle" onclick="increment(@togNo)">+</button>
                                    </div>

                                    <!--Soumya use this button to get the number of items-->
                                    <button style="border-radius: 10px; background-color: #555 ; color: bisque; border: none; padding: 15px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 18px;" class="button" id="add_to_order" onclick="">Add to order</button>
                                </div>
                            </div>
                        </div>

                        <br /><br />
                        togNo = togNo+1;
                     }
                 }
        </div>

        <div id="Steaks" class="tabcontent">
            @foreach (FoodCategory cat in Category)
            {
                @if (@cat.CategoryId == steaks)
                {
                    <div class="description">
                        <p>@cat.CategoryDescr</p>
                        <br />
                    </div>

                    break;
                }
            }

            @foreach (var obj in MenuItems)
            {
                @if (@obj.CategoryId == steaks)
                {
                    <div class="card mb-30" style="display: flex; background-color: beige; justify-content: center; align-content: center; text-align: center;">

                        <div style="justify-content: center; align-content: center; text-align: center;">
                            <img src="/MenuItem/@obj.ItemImage" class="card-img-top" style="width:40%;" align="middle" alt="...">
                        </div>

                        <div class="card-body">
                            <h5 style="font-size:35px;" class="card-title">@obj.ItemName</h5>
                            <p style="font-size:16px;" class="card-text">@obj.ItemDescr</p>
                            <p style="font-size:25px; font-style:italic;" class="card-text">R @obj.ItemPrice</p>
                            <br />
                            <div class="d-flex justify-content-between" style="justify-content:center; margin: auto 25% auto 25%">
                                <div>
                                    <button style="border-radius: 50%; background-color: #555 ; color: bisque; border: none; padding: 15px 15px; text-align: center; text-decoration: none; display: inline-block; font-size: 28px;" id="order_toggle" ; onclick="decrement(@togNo)">-</button>
                                    <input class="tableNum" style="border-color:#555; border-radius:15px; font-size:20px; background-color:beige; height:50px; width:50px" id=@togNo type=number value="0" min=0 max=20>
                                    <button style="border-radius: 50%; background-color: #555 ; color: bisque; border:none; padding: 15px 15px; text-align: center; text-decoration: none; display: inline-block; font-size: 28px;" id="order_toggle" onclick="increment(@togNo)">+</button>
                                </div>

                                <!--Soumya use this button to get the number of items-->
                                <button style="border-radius: 10px; background-color: #555 ; color: bisque; border: none; padding: 15px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 18px;" class="button" id="add_to_order" onclick="">Add to order</button>
                            </div>
                        </div>
                    </div>

                    <br /><br />
                    togNo = togNo + 1;
                }
            }
        </div>

        <div id="Burgers" class="tabcontent">
            @foreach (FoodCategory cat in Category)
            {
                @if (@cat.CategoryId == burgers)
                {
                    <div class="description">
                        <p>@cat.CategoryDescr</p>
                        <br />
                    </div>

                    break;
                }
            }

            @foreach (var obj in MenuItems)
            {
                @if (@obj.CategoryId == burgers)
                {
                    <div class="card mb-30" style="display: flex; background-color: beige; justify-content: center; align-content: center; text-align: center;">

                        <div style=" justify-content: center; align-content: center; text-align: center;">
                            <img src="/MenuItem/@obj.ItemImage" class="card-img-top" style="width:40%;" align="middle" alt="...">
                        </div>

                        <div class="card-body">
                            <h5 style="font-size:35px;" class="card-title">@obj.ItemName</h5>
                            <p style="font-size:16px;" class="card-text">@obj.ItemDescr</p>
                            <p style="font-size:25px; font-style:italic;" class="card-text">R @obj.ItemPrice</p>
                            <br />
                            <div class="d-flex justify-content-between" style="justify-content:center; margin: auto 25% auto 25%">
                                <div>
                                    <button style="border-radius: 50%; background-color: #555 ; color: bisque; border: none; padding: 15px 15px; text-align: center; text-decoration: none; display: inline-block; font-size: 28px;" id="order_toggle" ; onclick="decrement(@togNo)">-</button>
                                    <input class="tableNum" style="border-color:#555; border-radius:15px; font-size:20px; background-color:beige; height:50px; width:50px" id=@togNo type=number value="0" min=0 max=20>
                                    <button style="border-radius: 50%; background-color: #555 ; color: bisque; border:none; padding: 15px 15px; text-align: center; text-decoration: none; display: inline-block; font-size: 28px;" id="order_toggle" onclick="increment(@togNo)">+</button>
                                </div>

                                <!--Soumya use this button to get the number of items-->
                                <button style="border-radius: 10px; background-color: #555 ; color: bisque; border: none; padding: 15px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 18px;" class="button" id="add_to_order" onclick="">Add to order</button>
                            </div>
                        </div>
                    </div>

                    <br /><br />
                    togNo = togNo + 1;
                }
            }
        </div>



        <div id="Deserts" class="tabcontent">
            @foreach (FoodCategory cat in Category)
            {
                @if (@cat.CategoryId == deserts)
                {
                    <div class="description">
                        <p>@cat.CategoryDescr</p>
                        <br />
                    </div>

                    break;
                }
            }

            @foreach (MenuItem obj in MenuItems)
            {
                @if (@obj.CategoryId == deserts)
                {
                    <div class="card mb-30" style="display: flex; background-color: beige; justify-content: center; align-content: center; text-align: center;">

                        <div style=" justify-content: center; align-content: center; text-align: center;">
                            <img src="/MenuItem/@obj.ItemImage" class="card-img-top" style="width:40%;" align="middle" alt="...">
                        </div>

                        <div class="card-body">
                            <h5 style="font-size:35px;" class="card-title">@obj.ItemName</h5>
                            <p style="font-size:16px;" class="card-text">@obj.ItemDescr</p>
                            <p style="font-size:25px; font-style:italic;" class="card-text">R @obj.ItemPrice</p>
                            <br />
                            <div class="d-flex justify-content-between" style="justify-content:center; margin: auto 25% auto 25%">
                                <div>
                                    <button style="border-radius: 50%; background-color: #555 ; color: bisque; border: none; padding: 15px 15px; text-align: center; text-decoration: none; display: inline-block; font-size: 28px;" id="order_toggle" ; onclick="decrement(@togNo)">-</button>
                                    <input class="tableNum" style="border-color:#555; border-radius:15px; font-size:20px; background-color:beige; height:50px; width:50px" id=@togNo type=number value="0" min=0 max=20>
                                    <button style="border-radius: 50%; background-color: #555 ; color: bisque; border:none; padding: 15px 15px; text-align: center; text-decoration: none; display: inline-block; font-size: 28px;" id="order_toggle" onclick="increment(@togNo)">+</button>
                                </div>

                                <!--Soumya use this button to get the number of items-->
                                <button style="border-radius: 10px; background-color: #555 ; color: bisque; border: none; padding: 15px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 18px;" class="button" id="add_to_order" onclick="">Add to order</button>
                            </div>
                        </div>
                    </div>

                    <br /><br />
                    togNo = togNo + 1;
                }
            }
        </div>
    }
</div>