@model IEnumerable<Scan_For_Menu.Models.MenuItem>;
@{
    ViewData["Title"] = "ViewItems";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

@{
    var Category = ViewBag.foodCategories;
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <a asp-controller="Admin" asp-action="Dashboard" class="btn btn-outline-warning">Back to Dashboard</a>
            <br />
            <h2 class="text-primary">Menu Items List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Admin" asp-action="Create" class="btnConfirm">
                <i class="fas fa-plus"></i> &nbsp; Add a new Item
            </a>
        </div>
    </div>
    <br />
    <br />
    <form asp-controller="Admin" asp-action="ViewItems" method="post">
        <div class="form-group" style="justify-content:right">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          
                <label class="control-label">Filter by Category</label>
                <select id="categoryName" name="category">
                    <option value="@ViewBag.filter">@ViewBag.filter</option>
                    <option value="All">Show All</option>
                    <option value="Burger">Burger</option>
                    <option value="Steaks and Grills">Steaks and Grills</option>
                    <option value="Drinks">Drinks</option>
                    <option value="Deserts">Deserts</option>
                    <option value="Soup, Salad and Sides">Soup, Salad and Sides</option>
                </select>
                <input type="submit" style="width:100px" formmethod="post" value="filter" width=200 class="btnConfirm" id="submitBtn" />
            
           
        </div>
    </form>

    @if (Model != null)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Meal prep Estimated time</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (MenuItem obj in Model)
                {
                    <tr>
                        <td width="15%">@obj.ItemName</td>
                        <td width="20%">@obj.ItemDescr</td>
                        <td width="15%"> @String.Format("R {0}", @obj.ItemPrice)</td>
                        <td width="15%"><img width=100 height=100 src="~/MenuItem/@obj.ItemImage" /></td>
                     
                        <td width="15%">@String.Format("{0} minutes", @obj.MealPrepTime)</td>
                        @foreach (FoodCategory objf in Category)
                        {
                            if (obj.CategoryId == objf.CategoryId)
                            {
                                <td width="15%">@objf.CategoryName</td>
                                break;
                            }
                        }
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Admin" asp-route-Id="@obj.ItemId" asp-action="Edit" style="color: #32be8f " class="mx-2 fas fa-edit">Edit</a>
                                <a asp-controller="Admin" asp-route-Id="@obj.ItemId" asp-action="Delete" class="btn btn-danger mx-2 far fa-trash-alt"></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Meal prep Estimated time</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    }
</div>


