
@{
    ViewData["Title"] = "ViewReport";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";

    var drinks = ViewBag.drinks;
    var deserts = @ViewBag.deserts;
    var burgers = @ViewBag.burgers;
    var salads = @ViewBag.salads;
    var steaks = @ViewBag.steaks; 
}

<div class="container" style="width:inherit; max-height:inherit;">
    <br />
    <div class="d-flex justify-content-center"><img width="100" height="100" class="logo_image" src="~/Images/logo.jpeg" /><h1 style="color:dimgrey">Amasole Steakhouse</h1><img width="100" height="100" class="logo_image" src="~/Images/logo.jpeg" /></div>
    <br /><br />
          <div class="d-inline-flex justify-content-between">
              <a class="btn btn-secondary" asp-controller="Admin" asp-action="Report">  View all reports</a>
              <a  onclick="print('snackbar2')"><i class="fas fa-print fa-3x"></i></a>
              <div id="snackbar2"> Printer successfully called</div>
          </div>
    <br />
    <br />
  
    <div class="d-flex flex-column justify-content-center" style="border: 4px solid green">

        <div class="d-flex" ><h4>Amasole SteakHouse</h4></div>
        <div class="d-flex">
            <h5>Date: @ViewBag.Date</h5>
        </div>
        <br />
        <br />
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">



                </div>
            </div>
            <table class="table table-bordered table-striped justify-content-center" style="width:100%; text-align:center; align-content:center ">
                <thead style="background-color:#808080; color:white">
                    <tr>
                        <th width="25%">
                            <h4>
                                CATEGORY
                            </h4>
                        </th>
                        <th width="25%">
                            <h4>
                                ITEM NAME
                            </h4>
                        </th>
                        <th width="25%"><h4>QUANTITY</h4></th>
                        <th width="25%"> <h4>LINE TOTAL</h4></th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.drinks.Count > 0)
                    {
                        <tr style="background-color: darkgrey; color:white">
                            <td><h5>Drinks</h5></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        @foreach (var obj in drinks)
                        {
                            <tr>
                                <td width="25%"> </td>
                                <td width="25%"> @obj.itemName</td>
                                <td width="25%">@obj.itemQnty</td>
                                <td width="25%">R @obj.LineTotal </td>
                            </tr>
                        }
                    }

                    @if (ViewBag.deserts.Count > 0)
                    {
                        <tr></tr>
                        <tr style="background-color: darkgrey; color:white">
                            <td><h5>Deserts</h5></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        @foreach (var obj in deserts)
                        {
                            <tr>
                                <td width="25%"> </td>
                                <td width="25%"> @obj.itemName</td>
                                <td width="25%">@obj.itemQnty</td>
                                <td width="25%">R @obj.LineTotal </td>
                            </tr>
                        }

                    }

                    @if (ViewBag.burgers.Count > 0)
                    {
                        <tr></tr>
                        <tr style="background-color: darkgrey; color:white">

                            <td><h5>Burgers</h5></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        @foreach (var obj in burgers)
                        {
                            <tr>
                                <td width="25%"> </td>
                                <td width="25%"> @obj.itemName</td>
                                <td width="25%">@obj.itemQnty</td>
                                <td width="25%">R @obj.LineTotal </td>
                            </tr>
                        }

                    }




                    @if (ViewBag.steaks.Count > 0)
                    {
                        <tr></tr>
                        <tr style="background-color: darkgrey; color:white">

                            <td><h5>Steaks & Grills</h5></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        @foreach (var obj in steaks)
                        {
                            <tr>
                                <td width="25%"> </td>
                                <td width="25%"> @obj.itemName</td>
                                <td width="25%">@obj.itemQnty</td>
                                <td width="25%">R @obj.LineTotal </td>
                            </tr>
                        }

                    }


                    @if (ViewBag.salads.Count > 0)
                    {
                        <tr></tr>
                        <tr style="background-color: darkgrey; color:white">

                            <td><h5>Soups, salads & Sides</h5></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        @foreach (var obj in salads)
                        {
                            <tr>
                                <td width="25%"> </td>
                                <td width="25%"> @obj.itemName</td>
                                <td width="25%">@obj.itemQnty</td>
                                <td width="25%">R @obj.LineTotal </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>


            <div class="d-flex justify-content-end">
                <h5>Total Revenue : R @ViewBag.TotalRevenue</h5>
            </div>
            <div class="d-flex justify-content-end">
                <h5>  Total Number of Items ordered : @ViewBag.TotItems</h5>
            </div>

        </div>
    </div>     
</div>
