@model List<ReportData>
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Receipt";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    var totalAmt = 0;
    var table = (Context.Session.GetInt32("TableNumber")).GetValueOrDefault();
}
<div class="container" style="width:inherit; max-height:inherit;">
    <br />
    <div class="d-flex justify-content-center"><img width="100" height="100" class="logo_image" src="~/Images/logo.jpeg" /><h1 style="color:dimgrey">Amasole Steakhouse</h1><img width="100" height="100" class="logo_image" src="~/Images/logo.jpeg" /></div>
    <br /><br />
    <div class="d-inline-flex justify-content-between">
        <a class="btn btn-secondary" asp-controller="Waiter" asp-action="Index">  Back to Receipts</a>
        <a asp-controller="Waiter" asp-route-id="@table" asp-action="PrintBill"><i style="color:black;" class="fas fa-print fa-3x"></i></a>        
    </div>
    <br />
    <br />

    <div class="d-flex flex-column justify-content-center" style="border: 4px solid black; width:650px">
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-center"><img width="100" height="100" class="logo_image" src="~/Images/logo.jpeg" /><h1 style="color:dimgrey; font-family: monospace sans-serif">Amasole Steakhouse</h1></div>
        </div>
        <div>
            <h4 font-family: monospace sans-serif">Date: @ViewBag.Date</h4>
        </div>
        <div>
            <h4 font-family: monospace sans-serif">Order Num: @ViewBag.OrderNum</h4>
        </div>
        <br />
        <br />
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <table class="table table-borderless justify-content-center" style="width:100%;  text-align:center; align-content:center; background:none">
                        <thead>
                            <tr>
                                <th width="25%"><h3 font-family: monospace sans-serif">ITEM NAME</h3></th>
                                <th width="25%"><h3 font-family: monospace sans-serif">QUANTITY</h3></th>
                                <th width="25%"> <h3 font-family: monospace sans-serif">PRICE</h3></th>
                                <th width="25%"> <h3 font-family: monospace sans-serif">AMOUNT</h3></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                                totalAmt = (int)obj.LineTotal * obj.itemQnty;
                                <tr>
                                    <td font-family: monospace sans-serif"> @obj.itemName </td>
                                    <td font-family: monospace sans-serif"> @obj.itemQnty </td>
                                    <td font-family: monospace sans-serif">R @obj.LineTotal</td>
                                    <td font-family: monospace sans-serif">R @totalAmt </td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="d-inline-flex justify-content-end m-5">
                <h4 font-family: monospace sans-serif">
                    SubTotal : R @ViewBag.subtot
                </h4>

            </div>
            <div class="d-inline-flex justify-content-end m-5">
                <h4 font-family: monospace sans-serif">Gratuity : R @ViewBag.gratuity</h4>
            </div>
            <div class="d-inline-flex justify-content-end m-5">
                <h4 font-family: monospace sans-serif">Total : R @ViewBag.Total</h4>
            </div>
            <div class="d-inline-flex justify-content-center m-5">
                <h4 font-family: monospace sans-serif">********* Thank you ***********</h4>
            </div>
        </div>
     
    </div>

</div>

